@import url('https://fonts.googleapis.com/css?family=Raleway|Staatliches');


body {
  background: url('../img/tile.jpg') top left repeat;
  font-family: 'raleway',sans-serif;
  overflow-x: hidden;
}

.navbar {
  background: RGBA(46, 48, 47, 0.8);
}

.navbar a{
  margin-right: 20px;
  font-weight: bold;
  font-size: 13px;
  font-family: 'raleway';
}
/* =========================================== Hero Section  */

#hero-section{
  margin-top:100px;
}

#hero-section img{
  width:500px;
  height:auto;
}

#hero-section h1{
  margin-top:80px;
  font-family: 'Staatliches',sans-serif;
  font-size: 70px;
}

#about-us2 {
  background: #1c2022;
  padding-top: 50px;
  padding-bottom: 100px;
}
#about-us2 h1 {
  color: white;
  font-family: protos, serif;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 50px;
}
#about-us2 h2 {
  color: white;
  font-family: protos, serif;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#about-us2 #about-somaiya {
  position: relative;
  left: 10%;
  height: 400px;
  width: 1200px;
  background: #fff;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}
#about-us2 #about-somaiya .content {
  width: calc(50% - 50px);
  height: 100%;
  background: #4582EC;
  box-sizing: border-box;
  padding: 30px 50px;
  color: #fff;
  font-family: sans-serif;
  line-height: 25px;
}
#about-us2 #about-somaiya .image-box {
  width: calc(50% + 50px);
  height: 100%;
  background: #02B875;
  box-sizing: border-box;
  border-left: 100px solid #4582EC;
  border-bottom: 400px solid transparent;
  color: #fff;
  background: url("../img/about-us-1.jpg");
  background-position: -100px -140px;
  background-repeat: no-repeat;
}
#about-us2 #about-txp {
  position: relative;
  left: 10%;
  height: 400px;
  width: 1200px;
  background: #fff;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.5);
  display: flex;
}
#about-us2 #about-txp .content {
  width: calc(50% - 50px);
  height: 100%;
  background: #02B875;
  box-sizing: border-box;
  padding: 30px 50px;
  color: #fff;
  font-family: sans-serif;
  line-height: 25px;
}
#about-us2 #about-txp .image-box {
  width: calc(50% + 50px);
  height: 100%;
  background: #02B875;
  box-sizing: border-box;
  color: #fff;
  border-right: 100px solid #02B875;
  border-bottom: 400px solid transparent;
  background: url("../img/about-us-2.jpg");
  background-repeat: no-repeat;
}

#about-us-mobile {
  background: #1c2022;
  display: none;
  padding: 80px 0;
}
#about-us-mobile h1 {
  color: white;
  font-family: protos, serif;
  padding-bottom: 50px;
}

#about-us-mobile h2 {
  font-family: protos, serif;
  padding: 15px;
  font-size: 25px;
}

#about-sk-mobile-content {
  color: #fff;
  width: 100%;
  height: 500px;
  background: #4582EC;
  box-sizing: border-box;
  margin: 0px;
  padding: 50px 30px 50px 30px;
}

#about-sk-mobile-image {
  width: 100%;
  height: auto;
}

#about-txp-mobile-content {
  color: #fff;
  max-width: 100%;
  height: 500px;
  background: #02B875;
  box-sizing: border-box;
  padding: 50px 30px 50px 30px;
  margin: 0px;
}

#about-txp-mobile-image {
  max-width: 100%;
  height: auto;
}

#typed1 {
  font-size: 25px;
}

/* ============================== Testimonials Section  */

#testimonials-section {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("../img/testimonials-background.jpg");
  background-size: cover;
	background-position: center;
	height: 100vh; /* 100% of the viewport's height */
	background-attachment: fixed;
}
#testimonials-section h1 {
  color: white;
  font-family: protos, serif;
  padding-top: 30px;
}

/* ===================testimonials-desktop======= */
#carousel {
position: relative;
width:60%;
margin:0 auto;
}

#slides {
overflow: hidden;
position: relative;
width: 100%;
height: 250px;
}

#slides ul {
list-style: none;
width:100%;
height:250px;
margin: 0;
padding: 0;
position: relative;
}

 #slides li {
width:100%;
height:250px;
float:left;
text-align: center;
position: relative;
font-family:lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar{
    max-width: 346px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 40px;
    width: 100%;
}

 #buttons {
padding:0 0 5px 0;
float:right;
}

#buttons a {
text-align:center;
display:block;
font-size:50px;
float:left;
outline:0;
margin:0 60px;
color:#b14943;
text-decoration:none;
display:block;
padding:9px;
width:35px;
}

a#prev:hover, a#next:hover {
color:#FFF;
text-shadow:.5px 0px #b14943;
}

.quote-phrase, .quote-author {
font-family:sans-serif;
font-weight:300;
display: table-cell;
vertical-align: middle;
padding: 5px 20px;
font-family:'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
height: 200px;
font-size:24px;
color:#FFF;
font-style:italic;
text-shadow:.5px 0px #b14943;
}

.quote-marks {
font-size:30px;
padding:0 3px 3px;
position:inherit;
}

.quote-author {
font-style:normal;
font-size:20px;
color:#b14943;
font-weight:400;
height: 30px;
}

.quoteContainer, .authorContainer {
display: table;
width: 100%;
}
/* ====================testimonials-mobile============ */
#testimonials-mobile .container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
}
#testimonials-mobile .container .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 15s linear infinite;
}
#testimonials-mobile .container .slider .slide {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}
#testimonials-mobile .container .slider .slide .caption {
	position: absolute;
	bottom: 200px;
	right: 60px;
	left: 60px;
	padding: 30px;
	background-color: rgba(0,0,0,.5);
	box-sizing:border-box;
	transition: 0.5s;
}
#testimonials-mobile .container .slider .slide .caption h2 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 48px;
	transition: 0.5s;
}
#testimonials-mobile .container .slider .slide .caption p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}


@keyframes animate {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}



@media screen and (max-width: 768px) {
	#testimonials-mobile .container .slider .slide .caption {
		bottom: 20px;
		right: 20px;
		left: 20px;
		padding: 20px;
	}
	#testimonials-mobile.container .slider .slide .caption h2 {
		margin: 0 0 10px;
		font-size: 30px;
	}
	#testimonials-mobile .container .slider .slide .caption p {
		font-size: 16px;
	}
}
/* ============================ Counters Section  */

#counters-section {
  background: #000;
}

#counters-section span {
  color:#fff;
  font-size:18px;
  margin-bottom:10px;
  position: relative;
  top: 150px;
}


#container1, #container2, #container3, #container4 {
  margin: 50px;
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
}

/* ===================================== Contact section  */
#maps {
  width:700px;
  height:448px;
}

/* ========================================= Registration Form  */

/* Form design */

#registration-form {
  background:#02B875;
  background-attachment: fixed;
  z-index: 2;
  padding-bottom: 50px;
  margin-top :0px;
  padding-top:0px;
}
#form-section{
  padding-top: 50px;
  /* margin-bottom:-80px; */
  position: relative;
  bottom:-50px;
  color: white;
  font-size:40px;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form-style-5{
	/* max-width: 1000px; */
	padding: 10px 20px;
	background: #f4f7f8;
	margin :150px 50px 50px 50px;

	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#000;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
  border-radius: 15px;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}


/* ================================ media queries */
@media only screen and (max-width: 400px),
  only screen and (max-device-width: 400px) {
    #about-us-mobile {
   display: block;
 }
 #about-us2 {
   display: none;
 }
 .navbar-brand{
   display: none;
 }

 #maps {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1024px),
  only screen and (max-device-width: 1024px) {
    #about-us-mobile {
   display: block;
 }
 #about-us2 {
   display: none;
 }
}
